---
layout: null
---

<!--

This is the community news page for Octave.  It is displayed in the
"Community News" display area of the Octave GUI.  It should not have
the usual page header that other pages on the Octave web site have.
The following string must be present for Octave to recognize and
display this page as the comunity news page.  Don't forget to increment
the `community-news-page-serial` number by one in order to show new
entires in the GUI:

  this-is-the-gnu-octave-community-news-page
  community-news-page-serial=8

-->

<!DOCTYPE html>
<html>
<head>
<title>Octave Community News</title>
<style type="text/css">
<!--
body {
}
-->
</style>
</head>
<body>

{% for post in site.categories.release limit:3 %}

<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>

{{ post.excerpt }}

<small><em>&mdash; The Octave Developers, {{ post.date | date: "%b %-d, %Y" }}</em></small>

{% endfor %}

</body>
</html>
