<footer class="column">
  <section>
  <h3>Support</h3>
  <div class="row">
    <div class="medium-12 columns">
    <dl>
      <div class="row collapse">
      <div class="columns medium-3">
        <dt>Wiki</dt>
        <dd><a href="{{site.wiki_url}}">wiki.octave.org</a></dd>
        <dd><a href="{{site.faq_url}}">FAQs</a></dd>
      </div>
      <div class="columns medium-3">
        <dt>Mailing List / IRC</dt>
        <dd><a href="https://lists.gnu.org/mailman/listinfo/help-octave">help@octave.org</a></dd>
        <dd><a href="https://webchat.freenode.net/?channels=octave&uio=MT1mYWxzZSYyPXRydWUmMTI9dHJ1ZQda">{{site.irc_channel}}</a></dd>
      </div>
      <div class="columns medium-3">
        <dt>Documentation</dt>
        <dd><a href="{{site.docs_url}}">Read online</a></dd>
        <dd><a href="{{ "/octave.pdf" | relative_url }}">PDF</a></dd>
      </div>
      <div class="columns medium-3">
        <dt><a href="{{ "/bugs.html" | relative_url }}">Reporting Bugs</a></dt>
        <dt><a href="{{ "/commercial-support.html" | relative_url }}">Commercial Support</a></dt>
        <dt><a href="{{ "/donate.html" | relative_url }}">Donate</a></dt>
      </div>
      </div>
    </dl>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <div class="text-center">
        <p>Octave is free software under the <a href="{{ "license.html" | relative_url }}">GNU General Public License.</a></p>
        <small>
          Copyright © 1998-{{ site.time | date: "%Y" }} John W. Eaton.
          This work is licensed under a
          <a rel="license" href="https://creativecommons.org/licenses/by-nd/4.0/">
          Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
          Get the <a href="https://hg.octave.org/web-octave/file/tip">page sources</a>.
        </small>
      </div>
    </div>
  </div>
  </section>
</footer>

<script>
  $(document).foundation();
</script>
