<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/foundation.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/app.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/syntax-highlight.css" | relative_url }}">
  <noscript>
    <style>
    div.no-js { position: relative; }
    nav.no-js { height: auto; }
    .tabs-content > div.no-js { display: block; }
    </style>
  </noscript>

  <script src="{{ "/js/vendor/modernizr.js" | relative_url }}"></script>
  <script src="{{ "/js/vendor/jquery.js" | relative_url }}"></script>
  <script src="{{ "/js/foundation/foundation.js" | relative_url }}"></script>
  <script src="{{ "/js/foundation/foundation.reveal.js" | relative_url }}"></script>
  <script src="{{ "/js/foundation/foundation.topbar.js" | relative_url }}"></script>
  <script src="{{ "/js/foundation/foundation.tab.js" | relative_url }}"></script>
  <script src="{{ "/js/foundation/foundation.dropdown.js" | relative_url }}"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
</head>
