<ul class="tabs" data-tab>
  <li class="tab-title"><a href="#source">Source</a></li>
  <li class="tab-title active"><a href="#linux">GNU/Linux</a></li>
  <li class="tab-title"><a href="#macos">macOS</a></li>
  <li class="tab-title"><a href="#bsd">BSD</a></li>
  <li class="tab-title"><a href="#windows">Windows</a></li>
</ul>
<div class="tabs-content">
  <div class="no-js content active" id="linux">
    <p>
      Executable versions of GNU Octave for GNU/Linux systems are provided
      by the individual distributions.  Distributions known to package Octave
      include <a href="https://www.debian.org/">Debian</a>,
      <a href="https://www.ubuntu.com/">Ubuntu</a>,
      <a href="https://getfedora.org/">Fedora</a>,
      <a href="https://gentoo.org/">Gentoo</a>, and
      <a href="https://www.opensuse.org/">openSUSE</a>.
      These packages are created by volunteers.  The delay between an Octave
      source release and the availability of a package for a particular
      GNU/Linux distribution varies.
    </p>
  </div>
  <div class="no-js content" id="macos">
    <p>
      The <a href="{{ site.wiki_url }}/Octave_for_MacOS_X">Octave Wiki</a>
      has instructions for installing Octave on macOS systems.  Octave may
      also be available in third-party package managers such as
      <a href="https://brew.sh/">Homebrew</a>,
      <a href="https://www.macports.org">MacPorts</a>, or
      <a href="http://www.finkproject.org">Fink</a>.
    </p>
  </div>
  <div class="no-js content" id="bsd">
    <p>
      Executable versions of Octave for BSD systems are provided by the
      individual distributions.  Both
      <a href="https://www.freebsd.org/">FreeBSD</a> and
      <a href="https://www.openbsd.org/">OpenBSD</a> have Octave packages.
      These packages are created by volunteers.  The delay between an Octave
      source release and the availability of a package for a particular
      GNU/Linux distribution varies.  The Octave project has no control over
      that process.
    </p>
  </div>
  <div class="no-js content" id="windows">
    <p>
      The latest stable version is GNU Octave 4.2.1:
      <ul>
        <li>
          <a href="https://ftp.gnu.org/gnu/octave/windows/octave-4.2.1-w32-installer.exe">octave-4.2.1-w32-installer.exe</a>
          (~ 170 MB)
          <a href="https://ftp.gnu.org/gnu/octave/windows/octave-4.2.1-w32-installer.exe.sig">[signature]</a>
        </li>
        <li>
          <a href="https://ftp.gnu.org/gnu/octave/windows/octave-4.2.1-w64-installer.exe">octave-4.2.1-w64-installer.exe</a>
          (~ 184 MB)
          <a href="https://ftp.gnu.org/gnu/octave/windows/octave-4.2.1-w64-installer.exe.sig">[signature]</a>
        </li>
        <li>
          <a href="https://ftp.gnu.org/gnu/octave/windows/octave-4.2.1-w32.zip">octave-4.2.1-w32.zip</a>
          (~ 280 MB)
          <a href="https://ftp.gnu.org/gnu/octave/windows/octave-4.2.1-w32.zip.sig">[signature]</a>
        </li>
        <li>
          <a href="https://ftp.gnu.org/gnu/octave/windows/octave-4.2.1-w64.zip">octave-4.2.1-w64.zip</a>
          (~ 378 MB)
          <a href="https://ftp.gnu.org/gnu/octave/windows/octave-4.2.1-w64.zip.sig">[signature]</a>
        </li>
      </ul>
    </p>
    <p>
      All Windows binaries with corresponding source code can be downloaded from
      <a href="https://ftp.gnu.org/gnu/octave/windows/">https://ftp.gnu.org/gnu/octave/windows/</a>.
    </p>
  </div>
  <div class="no-js content" id="source">
    <p>
      The latest released version of Octave is always available from
      <a href="https://ftp.gnu.org/gnu/octave/">https://ftp.gnu.org/gnu/octave/</a>.
    </p>
  </div>
</div>
