<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content row">
      <div class="wrapper column">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>

  </body>

</html>
